@{
    ViewData["Title"] = "Home Page";
}
<style>
.responsive {
  width: 70%;
  height: auto;
}
</style>

<div class="text-center">
    <h1 class="display-4">ChargeIt - 2022 - Into the future!</h1>
    <p>Let's step into the future together by taking the first steps towards a new greener way of living!</p>
    <img class="responsive"
    src="https://www.electrive.com/wp-content/uploads/2021/02/hyundai-ladestation-charging-station-seoul-suedkorea-south-korea-2021-01-min.png">
</div>
