@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="display-4 mb-4 margin-bot-15">@ViewData["Title"] & Services</h1>

<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Identifiers (such as name, email address, phone number, vehicle’s vin and license plate number)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including registering an account for you</li>
                    <li>Fixing and improving the Service</li>
                    <li>Marketing and advertising</li>
                    <li>Communicating with you, e.g., customer support</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Commercial information (such as transaction data, charging station use data)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Marketing and advertising</li>
                    <li>Communicating with you</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Financial data (such as the last four digits of payment cards)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Internet or other network or device activity (such as IP address, unique device identifier, advertising, app identifiers, browsing history, cookies, screen recording of usage, or other usage data</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Marketing and advertising</li>
                    <li>Usability Improvements</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Location information (general location, and, if you provide permission, precise GPS location)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Sensory information (such as audio recordings if you call our customer service)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Other information that identifies or can be reasonably associated with you (such as communications you send us)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Marketing and advertising</li>
                    <li>Communicating with you</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Social Media Data; User Content</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Marketing and advertising</li>
                    <li>Communicating with you</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Charging Network Data</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Marketing and advertising</li>
                    <li>Communicating with you</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Blink Charging Station Data (Hosts)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Marketing and advertising</li>
                    <li>Communicating with you</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-sm-6 col-md-4 border-lg-right">
        <div class="tblCell">
            <div>
                <p>Device/Usage Information</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="tblCell">
            <div>
                <ul class="list-unstyled">
                    <li>Providing the Service, including providing you with charging stations</li>
                    <li>Fixing and improving the Service</li>
                    <li>Marketing and advertising</li>
                    <li>Communicating with you</li>
                    <li>Analyzing use of the Service</li>
                    <li>Preventing, detecting, investigating, and responding to fraud, unauthorized access/use of the Service, breaches of terms and policies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
