@{
    ViewData["Title"] = "Booking Confirmation Page";
}

<style>
.center_text {
  margin: auto;
  width: 60%;
  border: 1px black;
  padding: 10px;
}
</style>

<center class="center_text" style="margin-top: 40px;">
<h1 class="display-4 mb-4">Your booking was registered!</h1>
<p style="margin-top: 15px;">You will recieve an email with your order details! Thank you for using our platform!</p>
</center>